<div class="cover">

  <div class="cover-heading p-5">
    <h1 class="rent">Rent</h1>
    <h1 class="book">Books</h1>
  </div>
</div>
<hr>
<div class="container py-5">
  <div class="d-flex align-align-text-center justify-content-between mb-5">
    <h3
      class="mb-0"
      style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
    >Books to Rent</h3>
    <i class="fa-thin fa-books"></i>
    <!-- Add New book : Modal dialog-->
    <button
      type="button"
      class="btn btn-outline-success"
      data-toggle="modal"
      data-target=".bd-example-modal-md">Add a New Book
    </button>

    <div
      class="modal fade bd-example-modal-md"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true"
    >

      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container py-5">
              <div class="row">
                <div class="bg-white rounded p-3 shadow">
                  <h4>Add a new book</h4>
                  <%= simple_form_for Book.new do |f| %>
                    <%= f.input :title %>
                    <%= f.input :year %>
                    <%= f.input :author %>
                    <%= f.input :overview %>
                    <%= f.input :genre %>
                    <%= f.submit class: "btn btn-success" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end of modal diallog -->
  </div>
  <!-- Cards to Show books -->
  <div class="container">

    <% @books.each_slice(3) do |book_row| %>
      <div class="row">
        <% book_row.each do |book| %>

          <div
            class="col-md-4"
            style="box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;"
          >
            <div class="card mb-4">
              <div class="card-header"><%= image_tag book.poster_image, class: "card-img-top-small img-fluid" %></div>

              <div class="card-body">

                <h5 class="card-title"><%= book.title %></h5>
                <p class="card-text"><%= book.author %></p>
                <%= link_to "Read More", book_path(book), class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
  <!-- end of showing books -->
</div>
<!--Add New Book Modal -->


</div>

<footer>
  <div class="cover-heading">
    <div class="socials-box">
      <div class="container ">
        <div class="row justify-content-center text-center py-4">
          <p class="my-font" style="letter-spacing: 1.5px; font-weight: 50px;">Follow Us</p>
          <p class="mb-0">
            <span class="icons-facebook">
              <i class="mr-1 fab fa-facebook-f">
                <span class="my-font">&nbsp; Facebook &nbsp; | &nbsp;
                </span>
              </i>
            </span>
            <span class="icons-instagram pl-3">
              <i class="mr-1 fab fa-instagram">
                <span class="my-font">&nbsp; Instagram</span>
              </i>
            </span>
          </p>
          <p
            class="my-font pt-3"
            style="font-size: 13px; font-weight: 50px; letter-spacing: 1px;"
          >Copyright &copy; The AirBnB Books Store</p>
        </div>
      </div>
    </div>
  </div>
</footer>
