<div class="position-relative>

<=% image_tag class= "book-cover"%></div> #add place for img later on#
<%=end%>
<div>
  <h1 class="book-start"><%= @book.title%></h1>
  <h2 class="book-start"><%= @book.author%></h2>
  <p class="book-start"><%= @book.year%></p>
  <p class="book-start"><%= @book.overview%></p>
  <p class="book-start"><%= @book.genre%></p>
</div>
<div class="Rent">
  <div class="container text-center">
  <h1 class="text-center"><strong>Rent Me!</strong></h1>
<%= link_to "Request to Rent", new_book_rental_path(@book), class: "books-show-buttons" %>

<p><%= link_to 'Back', :back, {class: "non-button-link"} %><p>
