<div class="container my-5">
  <%# <div class="position-relative">
  </div>  %>
  <%= image_tag "#{rand(1..10)}.jpg", class: "book-image" %>
  
  <div>
    <h1 class="book-start-one"><%= @book.title %></h1>
    <h2 class="book-start-two"><%= @book.author %></h2>
    <p class="book-start-three"><%= @book.year %></p>
    <p class="book-start-four">Overview: <%= @book.overview %></p>
    <p class="book-start-five">Genre: <%= @book.genre %></p>
  </div>

  <div class="formstyle">
    <%= simple_form_for [@book, @rental] do |f| %>
      <%= f.input :start_date, label: "Start", placeholder: "From", wrapper_htlm: { class: "inline_field_wrapper"} %>
      <%= f.input :end_date, label: "End", placeholder: "To", wrapper_htlm: { class: "inline_field_wrapper"} %>
      <%= f.submit "Rent Me!", class: "btn btn-primary", onclick: "Congratulations! Your rental was successful!"%>
    <% end %>
  </div>

  <%= link_to 'Back', root_path, class: 'btn btn-dark' %>
</div>