<div class="container">
<h1>Dashboard</h1>

  <div class="dashboard-container">
    <div class="books-container">
      <div class="d-flex align-align-text-center justify-content-between mb-5">
        <h3 class="mb-0">My books</h3>
        <%= link_to "Add a new book", new_book_path(@book), class:"btn btn-outline-success" %>
      </div>

      <div class="card-container w-80 d-flex flex-wrap">
        <% current_user.books.each do |book| %>
          <div class="co-12 col-sm-6 col-md-4 mb-3 pt-3">
            <div class="card-category">
              <%= image_tag "#{rand(1..10)}.jpg", class: "book-image" %>
              <br>
              <div class="pt-2">
                <%= link_to book.title, book, class: "text-decoration-none text-black" %>
                <br>
                <%= book.author %>
                <br>
                <i class="fa-regular fa-pen-to-square"></i>
                <%= link_to "Edit book", edit_book_path(book), class: "text-decoration-none btn btn-outline-primary" %>
                <br>
                <i class="fa-solid fa-trash"></i>
                <%= link_to "Remove book", book_path(book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none btn btn-outline-danger" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="rentals-container">
      <div class="d-flex align-align-text-center justify-content-between mb-5">
        <h3 class="mb-0">My rentals</h3>
      </div>

      <div class="card-container w-80 d-flex flex-wrap">
        <% current_user.rentals.each do |rental| %>
          <div class="co-12 col-sm-6 col-md-4 mb-3 pt-3">
            <div class="card-category">
              <%= image_tag "#{rand(1..10)}.jpg", class: "book-image" %>
              <br>
              <div class="pt-2">
                <%= link_to rental.book.title, rental.book, class: "text-decoration-none text-black" %>
                <br>
                <%= rental.book.author %>
                <br>
                <%= rental.start_date %>
                <br>
                <%= rental.end_date %>
                <br>
                <i class="fa-solid fa-trash"></i>
                <%= link_to "Return book", rental_path(rental), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none btn btn-outline-danger" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
